<div class="container">
  {{#each characters}}
  <div class="character-list">
    <a href="/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>
<div>
   <a class="nav" href="/new/{{id}}">Add yourself to this house!</a>
</div>
