<form class="form" action="/new/{{id}}" method="post">
  {{!-- <img class="img-circle" src="{{image}}" alt="{{name}}"> --}}
  <h2>Please enter your new house member details</h2>
  
  <label for="image" class="form-item">
    Image:
    <input type="txt" name="image" value="">
  </label>

  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="">
  </label>

  <label for="known-for" class="form-item">
      Known for:
    <input type="txt" name="known-for" value="">
  </label>
  
  <label for="age" class="form-item">
    Age:
    <input type="txt" name="age" value="">
  </label>

  <label for="actor" class="form-item">
    Actor:
    <input type="text" name="actor" value="">
  </label>
  
  {{!-- <input type="hidden" name="image" value="{{image}}"> --}}
  
  <input type="submit" name="" value="Submit">
</form>
